/* RESETS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
}

/* GLOBAL CLASSES */
.text-center {
    text-align: center;
}

.row, .column {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: flex-end;
}

/* CUSTOM STYLES */
h1 {
    margin: 15px;
}

h2, input, button, hr {
    margin: 6px;
    width: 100%;
}

input {
    height: 30px;
    padding: 8px;
    border-color: lightgrey;
    border-radius: 4px;
}

.search-button {
    border: none;
    border-radius: 4px;
    height: 35px;
}

.jumbotron {
    height: 300px;
}

.current-weather {
    list-style: none;
    flex-direction: column;
    margin: 20px;
}

.current-img {
    justify-content: space-around;
}

.future-forecast {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 100px;
}

.future-forecast img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

li {
    margin: 10px;
    line-height: 10px;
}

/* MOBILE RESPONSIVE STYLES */
@media (max-width: 768px) {
    grid-template-columns: 1fr, 1fr;
}