/* RESETS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
}

/* GLOBAL CLASSES */
.text-center {
    text-align: center;
}

.row, .column {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: flex-end;
}

/* CUSTOM STYLES */
h1 {
    margin: 15px;
}

.container-fluid h2, .container-fluid input, .container-fluid button, .container-fluid hr {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 6px;
}

input {
    height: 30px;
    padding: 8px;
    border-color: lightgrey;
    border-radius: 4px;
}

.search-button {
    border: none;
    border-radius: 4px;
    height: 35px;
}

.jumbotron {
    height: 230px;
}

.current-weather {
    list-style: none;
    flex-direction: column;
    margin: 20px;
}

.forecast {
    display: flex;

}

.future-forecast {
    list-style: none;
    flex-wrap: wrap;
    max-height: 100px;
}

.future-forecast img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

li {
    margin: 10px;
    line-height: 10px;
}

/* MOBILE RESPONSIVE STYLES */
@media (max-width: 768px) {
    .form-label h2{
        font-size: 15px;
    }

    button {
        font-size: 5px;
    }
    
    .jumbotron h2 {
        font-size: 22px;
    }

    .jumbotron .current-weather {
        font-size: 15px;
        margin: 10px;
    }
}